In [ ]:
#!pip install --upgrade tensorflow==1.15

In [ ]:
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_csv('UAS_ML2021_DATASET01.csv')
df

     Attrib_01  Attrib_02  Label
0    -2.264542  -0.505704      1
1    -2.086426   0.655405      1
2    -2.367950   0.318477      1
3    -2.304197   0.575368      1
4    -2.388777  -0.674767      1
..         ...        ...    ...
145   1.870522  -0.382822      0
146   1.558492   0.905314      0
147   1.520845  -0.266795      0
148   1.376391  -1.016362      0
149   0.959299   0.022284      0

[150 rows x 3 columns]

In [ ]:
features = df[['Attrib_01', 'Attrib_02']]
label = df['Label']
features

     Attrib_01  Attrib_02
0    -2.264542  -0.505704
1    -2.086426   0.655405
2    -2.367950   0.318477
3    -2.304197   0.575368
4    -2.388777  -0.674767
..         ...        ...
145   1.870522  -0.382822
146   1.558492   0.905314
147   1.520845  -0.266795
148   1.376391  -1.016362
149   0.959299   0.022284

[150 rows x 2 columns]

In [ ]:
label

0      1
1      1
2      1
3      1
4      1
      ..
145    0
146    0
147    0
148    0
149    0
Name: Label, Length: 150, dtype: int64

In [ ]:
label_t = []

for item in label:
  if item == 0:
    label_t.append(-1)
  else:
    label_t.append(1)
  label = label_t

In [ ]:
df['Label'] = label
df

     Attrib_01  Attrib_02  Label
0    -2.264542  -0.505704      1
1    -2.086426   0.655405      1
2    -2.367950   0.318477      1
3    -2.304197   0.575368      1
4    -2.388777  -0.674767      1
..         ...        ...    ...
145   1.870522  -0.382822     -1
146   1.558492   0.905314     -1
147   1.520845  -0.266795     -1
148   1.376391  -1.016362     -1
149   0.959299   0.022284     -1

[150 rows x 3 columns]

In [ ]:
df.shape

(150, 3)

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(features, label, test_size=0.2, random_state=1)

In [ ]:
from sklearn.svm import SVC
clf = SVC(C = 1e5, kernel = 'linear')
clf.fit(x_train, y_train) 

print('w = ',clf.coef_)
print('b = ',clf.intercept_)

w =  [[-1.46641626 -0.0305484 ]]
b =  [-1.67331069]